<div id="container-instructions">

	<h1>Greetings!</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    Welcome to the experiment, continue to the instructions when ready.
	    </p>


	    <script type="text/javascript">
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Begin <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
