<div id="container-instructions">

    <h1 id="instr_header">Instructions</h1>


    <div class="instructions well" id="instruct">

        Instuctions go here

    </div>



    <hr />

    <div id="full-container-sm">
        <div id ="scale_region" style="background-color: white;"></div>
        <div id="moviescreen"></div>

        <!-- <div id ="response_region" style="background-color: white;"></div> -->
		    <div id ="response_region" style="background-color: white; margin=auto; align-self:center;text-align:center"></div>

        <hr />

        <div class="instructionsnav">
            <div class="row">
            	  <center>
	                  <button type="button" id="nextbutton" value="" class="btn btn-success btn-lg">
	                      Next <span class="glyphicon glyphicon-arrow-right"></span>
	                  </button>
	              </center>
            </div>
            <br>
            <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            	  <center>
	                <button id="reloadbutton" class="incenterdiv btn btn-success btn-med" style="display: none;">Reload Movie</button>
	              </center>
            </div>
            <div class="col-xs-2">
            </div>
            </div>
    </div>

    </div>
