<!DOCTYPE html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h2>CONSENT FOR PARTICIPATION IN A RESEARCH STUDY</h2>
                <h3>YALE UNIVERSITY</h3>
                <hr />
                <div class="legal well">

				<p>
                    <b>Study Title:</b>  Computational basis of human perception and cognition 
                    </p>
                    <p>
                    <b>Principal Investigator (the person who is responsible for this research):</b> Ilker Yildirim
                    </p>
                    <p>2 Hillhouse Avenue, New Haven, CT 06520</p>


                  <p>
                    <b>Research Study Summary:</b> 
                    </p>
                    <p>
                     We are asking you to join a research study.
The purpose of this research study is to understand how we see, think about, and interact with the objects and people in our physical environment in common everyday settings.
Study activities will include: seeing objects or animated characters on a computer screen and making judgments about the physical properties of objects (e.g., their shape, weight) or the morphology and beliefs of the characters. You may experience the objects via vision (on the screen), audition (through the speakers), or touch (3D printed sculptures). 
Your involvement will require about an hour.
There may be some risks from participating in this study, consisting of a potential for fatigue or boredom.
The study will have no benefits to you. However, your participation in this study will help us advance our scientific knowledge of how the mind works. You might also find this experience educational and, to some extent, entertaining. 
Taking part in this study is your choice. You can choose to take part, or you can choose not to take part in this study.  You also can change your mind at any time.  Whatever choice you make will not have any effect on your relationship with our lab or any other party involved across Yale and beyond. 
If you are interested in learning more about the study, please continue reading, or have someone read to you, the rest of this document. Ask the study staff questions about anything you do not understand. Once you understand the study, we will ask you if you wish to participate; if so, you will have to sign this form.

                  </p>

                  <p>
                    <b>Why is this study being offered to me?</b> 
                    </p>
                    <p>
                    We are asking you to take part in a research study because your age is in the range of 18 to 35 years old and you have normal or corrected to normal vision. We are looking for 4000 participants to be part of this research study.
                  </p>

                  <p>
                    <b>Who is paying for the study? </b> 
                    </p>
                    <p>  
                    Yale University Department of Psychology
                  </p>
                  <p>
                    <b>What is the study about?  </b> 
                    </p>
                    <p>
                    The purpose of this study is to understand how we think about objects and other agents’ abilities and goals in contexts that involve complex object manipulation. As an illustrative domain, imagine building small towers using wooden blocks or LEGO pieces. When we observe someone move just one or very few blocks, we can often make educated guesses about what they may be aiming to build. We would like to understand the cognitive mechanisms supporting such educated guesses in humans.
                  </p>
                  
                  <p>
                    <b>What are you asking me to do and how long will it take? </b> 
                    </p>
                    <p>
                    If you agree to take part, your participation in this study will involve making judgments about the actions of agents (e.g., their goals) or physical properties of objects (e.g., weight of an object). 
On a given trial, you may experience objects by either seeing them (images or videos), by hearing them, or by touching their 3D printed sculptures. You may also see a picture or video of animated characters (familiar or unfamiliar) acting toward an object or toward another agent. Your task will be to judge various properties of objects you experienced, such as their shapes, sizes, or their weight. In some cases, you may be asked to judge the morphological structure of the body (e.g., where the body trunk is located and what other limbs are connected to it) as well as the goals or actions of the animated character. You will be given breaks after every 20-30 trials, but you can take more frequent breaks by letting our research staff know.
We will provide further detailed instructions and a few practice trials at the beginning of the experiment to fully familiarize you with the flow of the task.
We think that the study will take about an hour of your time.

                  </p>

                  <p>
                    <b>Are there any risks from participating in this research?</b> 
                    </p>
                    <p>
                    If you decide to take part in this study, you may experience boredom or fatigue. Please take advantage of the breaks we provide during the experiment to refresh.
                  </p>

                  <p>
                    <b>How can the study possibly benefit me or others?</b> 
                	</p>
                    <p>You will not benefit from taking part in this study. 
We hope that our results will add to the knowledge about how our minds work -- how we think about our physical world including the objects and people in it. You may also find the task enjoyable.

                  </p>
                  
                    <p>
                    <b>Are there any costs to participation? </b> 
                	</p>
                    <p>You will not benefit from taking part in this study. 
You will not have to pay for taking part in this study. The only costs may include transportation and your time coming to the study visits.
                  </p>
                  
                  
                    <p>
                    <b>Will I be paid for participation? </b> 
                	</p>
                    <p>
                    You will not be paid for taking part in this study. You will be awarded 1 credit for your participation in this one-hour long study. Your participation in this study is extremely valuable for our research, and we hope that participating will prove to be an educational experience for you.  In addition, however, please remember that this is only one of the ways in which you can fulfill your "experimental participation" credits for Introduction to Psychology.  Other ways, as detailed in the form handed out to you in class, include serving as an observer of 5 experiments, or arranging for other options of equivalent educational value (e.g., writing essays) through your instructor.
                    </p>


                    <p>
                    <b>How will you keep my data safe and private?</b> 
                	</p>
                    <p>
                    All of your responses will be held anonymous. Only the researchers involved in this study and those responsible for research oversight (such as representatives of the Yale University Human Research Protection Program, the Yale University Institutional Review Boards, and others) will have access to any information that you provide. We will share it with others if you agree to it or when we have to do it because U.S. or State law requires it. For example, we will tell somebody if we learn that you are hurting a child or an older person.
When we publish the results of the research or talk about it in conferences, we will not use your name. If we want to use your name, we would ask you for your permission. We will also share information about you with other researchers for future research but we will not use your name or other identifiers. We will not ask you for any additional permission.
We do not collect or store any identifying information in our research data. We might distribute your anonymous data with other investigators for future research studies without asking for additional consent from you.
</p>
<p>
                    <b>What if I want to refuse or end participation before the study is over? </b> 
                	</p>
                    <p>
                    Taking part in this study is your choice. You can choose to take part, or you can choose not to take part in this study.  You also can change your mind at any time.  Whatever choice you make will not have any effect on your relationship with our lab or any other party involved across Yale and beyond
                    </p>
                    
                  <p>
                    <b>Who should I contact if I have questions?</b> 
                    </p>
                    <p>
                    Please feel free to ask about anything you don't understand. 
If you have questions later or if you have a research-related problem, you can call the Principal Investigator at 203-436-9229. 

                  </p>

					<p>
                  <i>If you have questions about the Psychology Subject Pool, you may contact the coordinator at 432-4518, or psychsubject.pool@yale.edu.  If you would like to talk with someone other than the researchers to discuss problems or concerns, to discuss situations in the event that a member of the research team is not available, or to discuss your rights as a research participant, you may contact the Yale University Human Subjects Committee, 203-785-4688, human.subjects@yale.edu. Additional information is available at http://your.yale.edu/research-support/human-research/research-participants. </i>
                	</p>
                   
                  <p>
                    <b>Agreement to participate:</b> By clicking the "Begin"
                    button below, you acknowledge that you have read
                    the above information, and agree to participate in
                    the study.
                  </p>

                  <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                  </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                  <button type="button" class="btn btn-primary btn-lg"
                          onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> Begin
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>
