<div id="full-container">
	<br>
        <div id ="scale_region" style="background-color: white;"></div>
	  <div id="moviescreen">
	  </div>
	  <div id="register">
		  <br>
		    <div id ="response_region" style="background-color: white; margin=auto; align-self:center;text-align:center"></div>
			 
			 
		    <hr />
		    <div id="centerdiv">
			    <button id="nextbutton" class="incenterdiv btn btn-success btn-lg" disabled>Next</button>
			    <br>
				<hr />
				<br>
				<button id="reloadbutton" class="incenterdiv btn btn-success btn-med" style="display: none;">Reload Movie</button>
		    </div>
	  </div>
</div>
